h1{
    background-color: rgba(240, 248, 255, 0.534);
    margin: -3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(139, 194, 156);
    text-shadow: -1px 0 rgb(141, 122, 122), 0 1px rgb(124, 103, 103), 1px 0 rgb(14, 12, 12), 0 -1px black;
    text-align: center;
}

h2{
    color: rgb(139, 194, 156);
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
    font-size: 28px;
    color: #5e4b0cb0;
    text-align: center;
}

h3, p{
    font-size: 30px;
    color: rgba(133, 145, 247, 0.767);
    text-shadow:  0 -1px black;
}